* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body,
#root,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 5px 20px;
        border-bottom: 1px solid #ccc;
        background: rgb(107, 103, 103);
        input {
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            outline: none;
            border-radius: 5px;
            padding-left: 10px;
            background: #fff;
        }
    }
}

main {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    dl {
        float: left;
        flex-shrink: 0;
        width: 50%;
        padding: 1%;
        dt {
            width: 98%;
            height: 98%;
            overflow: hidden;
            border-radius: 5px;
            img {
                border: 2px solid rgb(34, 29, 29);
                width: 100%;
                height: 100%;
            }
        }
    }
}

.shopCar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-size: 18px;
    background: rgb(87, 83, 83);
    color: #fff;
}

.detail {
    width: 100%;
    height: 100%;
    .returnIndex {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: rgb(59, 50, 50);
        border-radius: 5px;
        color: #fff;
        margin-bottom: 10px;
    }
    dl {
        width: 100%;
        background: rgb(241, 240, 240);
        padding: 10px;
        dt {
            img {
                width: 100%;
                height: 100%;
            }
            text-align: center;
        }
        dd {
            margin-top: 10px;
            padding: 0 10px;
            p {
                text-indent: 2em;
            }
            .addShop {
                // float: right;
                padding: 5px 10px;
                background: rgb(129, 126, 86);
                border-radius: 5px;
                text-align: center;
                color: rgb(189, 202, 202);
            }
        }
    }
}

.shop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .returnIndex {
        height: 40px;
        width: 100%;
        background: rgb(87, 85, 85);
        border-radius: 5px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
    }
    .shop-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        dl {
            width: 100%;
            height: 100px;
            padding: 10px;
            display: flex;
            background: rgb(235, 230, 230);
            border-radius: 5px;
            overflow: hidden;
            dt {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            dd {
                flex: 1;
                padding-left: 10px;
                position: relative;
                p {
                    font-weight: 900;
                }
                b {
                    color: red;
                }
                .btns {
                    position: absolute;
                    right: 10px;
                    bottom: 0px;
                    span {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        line-height: 14px;
                        text-align: center;
                        border: 1px solid #ccc;
                        font-size: 20px;
                        border-radius: 2px;
                        background: #fff;
                    }
                }
            }
        }
    }
    .total-price {
        width: 100%;
        padding-left: 10px;
        background: rgb(99, 96, 96);
        color: #fff;
        font-size: 18px;
        line-height: 40px;
        button {
            padding: 0 5px;
            float: right;
            color: #000;
        }
    }
}

.twoWCode {
    img {
        display: block;
        margin: 30px auto;
        width: 268px;
        height: 268px;
    }
}